@import reset

font_color_main = #ccc
body_bg_color = #010101
a_color = #fff
a_color_hover = #ddd

body
  background-color body_bg_color
  color font_color_main
  font-family monospace
  font-size 20px
  line-height 1.3em
  max-width 700px
  margin 0 auto
  padding 0.5em 1em

a
  color a_color
  text-decoration none

  &:hover
    color a_color_hover

h1, h2, h3, h4, h5
  margin 1em 0 0

h1 
  font-size 1.5em
  margin 1.5em 0 0.5em
h2
  font-size 1.4em
  margin 1.5em 0 0.5em
h3
  font-size 1.3em
h4
  font-size 1.2em
h5
  font-size 1.1em

p
  margin 0.2em 0

header.main
  display inline-block
  margin 0 0 0.5em
  width 100%

  img[itemprop=image]
    border-radius 100%
    float left
    margin 0 3% 0 0
    max-width 100%;
    width 30%

  h1,
  div
    float left
    max-width 66%

  h1
    font-size 1.5em
    margin 0.5em 0

  div.jobTitle
    font-size .9em
    margin 0 0 0.5em

div.description
  font-size .8em

section[itemprop=author]
  margin 0 auto
  max-width 1000px
  width 94%

div.list
  display inline-block

  li
    display inline-block
    margin 1em 0

    h5
      margin 0 0 0.5em
      width 100%

      a
        img
          display inline
          float left
          margin 0 3% 0 0

    .content
      float left
      
      img
        float left
        margin 0 3% 0 0
        max-height 400px
        max-width 200px

    div[itemprop=description]
      display inline
      font-size .8em

div.social
  li
    margin 0 0 0.5em

  div.emails, div.networks
    float left
    margin 1em 0

div.emails
  width 35%

  li
    display block

  a
    line-height 1.4

div.networks
  text-align right
  width 65%

  header
    clear both
    display block
    margin 0 0 0.1em

    li
      display inline

      img
        width 12%
        margin 0 1%
        opacity 0.8
        &:hover
          opacity 1

footer.main
  margin 1em 0

@media (max-width: 800px)
  body
    font-size 18px
  section.author
    div.affiliations 
      li 
        header
          width 17%
        .content
          width 82%

@media (max-width: 600px)
  body
    font-size 16px
  section.author
    div.affiliations 
      li 
        header
          width 19%
        .content
          width 80%

@media (max-width: 500px)
  body
    font-size 15px

  header.main
    div.description
      margin 1em 0
      max-width 100%
  section.author
    div.email,
    div.networks
      width 100%
    div.affiliations 
      li 
        header
          width 21%
        .content
          width 78%

@media (max-width: 420px)
  body
    font-size 17px

  section.author
    div.networks
      clear both
      margin 0 0 1em
      max-width 100%
      width 100%

      div.affiliations 
      li 
        header
          width 24%
        .content
          width 75%

      header
        margin 1em 0 0.1em
    h2
      display inherit
      width 65%


code, samp, kbd
  color #bbb
  font-family "Courier New", Courier, monospace, sans-serif
  text-align left

pre code 
  font-size 0.8em
  line-height 1.6em
  
pre 
  border-left 11px solid #ccc
  margin 1.7em 0 1.7em 0.3em
  overflow auto
  padding 0.1em 0.5em 0.3em 0.7em
  width 93%


.dirview
  ul
    ul
      margin 0 1em


.testimonial
  background-color #ff9d1c
  border-radius 9px
  box-shadow 2px 3px 10px #999
  color #fff
  font-size 0.8em
  margin 1em auto
  padding 0.5em
  text-align center
  width 80%

  p
    font-size 0.7em
    font-style italic
    text-align right
    line-height 1.3em
    margin 0
    
