@import reset

bg-image(image)
  background: url('/img/' + image)

transition(transition)
    -webkit-transition transition
    -moz-transition transition
    transition transition

body_font_color = #111
body_bg_color = #fefefe
a_color = #444
a_color_hover = #999


body_font_color_night = #fefefe
body_bg_color_night = #111
a_color_night = #aaa
a_color_hover_night = #fefefe

html, body
  height 100%

body
  background-color body_bg_color
  color body_font_color
  width 90%
  overflow hidden
  margin 0 auto
  text-align center
  transition(background-color 0.5s);
  
  &.night
    background-color body_bg_color_night
    color body_font_color_night
    
    a
      color a_color_night
      
      &:hover
        color a_color_hover_night

body.nojs
  overflow scroll

  #content
    height auto

    #image-gallery
      display inline-block
      height auto
      max-height inherit
      width 100%

      img
        float none
        margin 1em 0 0
        max-height inherit
        max-width 100%
        width 100%

header.main
  left 0
  padding 2.5em 0 2em
  width 100%

  nav#menu
    width 100%

    ul
      li
        display inline
        margin 0 0.5em

a
  color a_color
  cursor pointer
  text-decoration none  
  transition(color 0.5s)

  &:hover
    color a_color_hover

#content
  display inline-block
  max-height 90%
  overflow hidden
  width 100%

noscript#image-gallery, div#gallery
  display inline-block
  max-height 90%
  overflow hidden
  width 100%

  img
    //border 1em solid #444
    box-sizing border-box
    max-width 1200px
    width 100%


#gallery-container
  li
    opacity 0
    transition(opacity 0.5s)
    display none

    &.displayed
      opacity 1
      display block
  
    h2
      margin 1.5em 0 0

@media (max-width: 400px)
  body
    width 95%
