@import reset

bg-image(image)
  background: url('/img/' + image)

transition(transition)
    -webkit-transition transition
    -moz-transition transition
    transition transition

body_font_color = #111
body_bg_color = #fefefe
a_color = #444
a_color_hover = #999

body_font_color_night = #fefefe
body_bg_color_night = #111
a_color_night = #aaa
a_color_hover_night = #fefefe

html, body
  height 100%
  display block

body
  background-color body_bg_color
  color body_font_color
  margin 0 auto
  overflow hidden
  text-align center
  transition(background-color 0.5s);
  width 90%

  &.night
    background-color body_bg_color_night
    color body_font_color_night
    
    a
      color a_color_night
      
      &:hover
        color a_color_hover_night

body.nojs
  overflow scroll

  header, #content
    max-width 1100px
    position relative
    margin 0 auto

  #content
    height auto

    #image-gallery
      display inline-block
      height auto
      max-height inherit
      width 100%

      img
        float none
        margin 1em 0 0
        max-height inherit
        max-width 100%
        width 100%

header.main
  left 0
  padding 5% 0 2%
  width 100%

  nav#menu
    width 100%

    ul
      li
        display inline
        margin 0 0.5em

        &#fullscreen-container
          position absolute
          bottom 1%
          text-align center
          width 100%
          left 0
          margin 0

a
  color a_color
  cursor pointer
  text-decoration none  
  transition(color 0.5s)

  &:hover
    color a_color_hover

#content
  display inline-block
  max-height 90%
  width auto
  position relative
  min-width 80%

noscript#image-gallery, div#gallery
  display inline-block
  max-height 90%
  width 100%

  img
    box-sizing border-box
    max-width 1200px
    width 100%

#gallery-container
  li
    height 0
    opacity 0
    transition(opacity 1s)
    width 0
    display inline-block

    &.displayed
      height auto
      width auto
      opacity 1
      transition(opacity 1s)
      h2
        opacity 1

    h2
      opacity 0
      height 1.2em

form
  max-width 800px
  margin 0 auto
  input, textarea
    color body_font_color
    background-color darken(body_bg_color, 20%)
    border 2px solid lighten(body_bg_color_night, 40%)
    border-radius 2px
    display block
    width 100%
    margin 1em 0
    padding 1em
    box-sizing border-box

  textarea
    height 150px

body.night
  form
    input, textarea
      color body_font_color_night
      background-color lighten(body_bg_color_night, 40%)
      border 2px solid darken(body_bg_color, 20%)

.error
  color #f00

@media (max-width: 400px)
  body
    width 95%

@font-face
  font-family 'icomoon'
  src url('/font/icomoon.eot')
  src url('/font/icomoon.eot') format('embedded-opentype'),
    url('/font/icomoon.woff') format('woff'),
    url('/font/icomoon.ttf') format('truetype'),
    url('/font/icomoon.svg') format('svg')
  font-weight normal
  font-style normal


[class^="icon-"], [class*=" icon-"], #gallery-container
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-caret-right:before, #gallery-container:after
  content "\e603"

.icon-caret-left:before, #gallery-container:before
  content "\e606"

.icon-contract:before
  content "\e601"

.icon-enlarge:before
  content "\e600"

#gallery-container:before,
#gallery-container:after
  position absolute
  top 42.5%
  font-size 2em
  z-index 1

#gallery-container:before
  content "\e606"
  left -4%

#gallery-container:after 
  content "\e603"
  right -4%
