@import reset
@import font
@import icomoon

bg-image(image)
  background: url('/img/' + image)

transition()
  -webkit-transition arguments
  -moz-transition arguments
  transition arguments

body_font_color = #111
body_bg_color = #fefefe
a_color = #444
a_color_hover = #999

body_font_color_night = #fefefe
body_bg_color_night = #111
a_color_night = #aaa
a_color_hover_night = #fefefe

html, body
  height 100%
  display block

body
  background-color body_bg_color
  color body_font_color
  margin 0 auto
  overflow hidden
  text-align center
  width 100%
  position absolute
  transition(background-color 0.5s)

  #content
    transition(color 0.5s)

  &.night
    background-color body_bg_color_night
    color body_font_color_night
    
    a
      color a_color_night

      &:hover
        color a_color_hover_night

  &.js
    &.fullscreen
      header.main
        margin -1.5em 0 0

    header.main
      transition(margin 0.5s)

form
  input, 
  textarea
    transition(0.5s)


body.nojs
  overflow scroll

  header, #content
    max-width 1100px
    position relative
    margin 0 auto

  #content
    height auto

    #image-gallery
      display inline-block
      height auto
      width 100%

      img
        float none
        margin 1em 0 0
        max-width 100%
        width 100%

header.main
  left 0
  width 100%
  margin 3% 0

  nav#menu
    width 100%

    ul
      li
        display inline
        margin 0 0.5em

        &#fullscreen-container
          bottom 1%
          left 0
          margin 0
          position absolute
          text-align center
          width 100%

a
  color a_color
  cursor pointer
  text-decoration none  
  transition(color 0.5s)

  &:hover
    color a_color_hover

#content
  display inline-block
  max-height 90%
  min-width 80%
  position relative
  width auto

noscript#image-gallery, div#gallery
  display inline-block
  max-height 85%
  width 100%

  img
    box-sizing border-box
    max-width 100%
    width auto

#extra-menu-container
  position absolute
  left 1em
  top 1em

  li
    display inline

#gallery-container
  li
    z-index 0
    opacity 0
    transition(opacity 0.5s)
    position absolute
    width 100%

    &.displayed
      z-index 1
      opacity 1
      transition(opacity 0.5s linear 0.5s)
      h2
        opacity 1

    h2
      opacity 0
      height 1.2em
      margin 3% 0 0

form
  max-width 800px
  margin 0 auto
  input, textarea
    color body_font_color
    background-color darken(body_bg_color, 5%)
    border 2px solid lighten(body_bg_color_night, 90%)
    border-radius 2px
    display block
    width 100%
    margin 1em 0
    padding 1em
    box-sizing border-box

  textarea
    height 150px

body.night
  form
    input, textarea
      color body_font_color_night
      background-color lighten(body_bg_color_night, 5%)
      border 2px solid darken(body_bg_color, 90%)

.error
  color #f00

@media (max-width: 400px)
  body
    width 95%

/*
#gallery-container:before,
#gallery-container:after
  position absolute
  top 42.5%
  font-size 2em
  z-index 1

#gallery-container:before
  content "\e606"
  left -4%

#gallery-container:after 
  content "\e603"
  right -4%
*/

body header.main nav#menu li#leftright-container
  width 3em
  margin 0 0.5em 0 3em
  display inline-block
  
  #btn-left
    float left
  #btn-right
    float right
    

@media (max-width: 400px)
  body
    font-size 23px
  
    &.fullscreen
      header.main
        margin -6em 0 0
  
    header.main
      nav#menu
        ul
          li
            display block
            margin 0.5em 0
            
            &#leftright-container
              margin 0
              font-size 1.2em

    #extra-menu-container
      font-size 1.2em
      left .5em
      position fixed
      top .5em

      li
        display block
