extends ../layout

block title
  title Jascha Ehrenreich, Magically shifting paradigms

block content
  section.author(itemprop='author' itemscope itemtype='http://schema.org/Person')
    include inc/bio

    include inc/affiliations

    include inc/projects

    include inc/social
