extends ../layout

block content
  noscript#imageGallery
    img#image-1(src='/img/portfolio/anna_aichinger_by_oliver_jiszda.png' title='image 1')
    img#image-2(src='/img/portfolio/anna_aichinger_by_oliver_jiszda.2.png' title='image 2')
    img#image-3(src='/img/portfolio/anna_aichinger_by_oliver_jiszda.3.png' title='image 3')
    img#image-4(src='/img/portfolio/anna_aichinger_by_oliver_jiszda.4.png' title='image 4')
    img#image-5(src='/img/portfolio/anna_aichinger_by_oliver_jiszda.5.png' title='image 5')
    img#image-6(src='/img/portfolio/anna_aichinger_by_oliver_jiszda.6.png' title='image 6')
    img#image-7(src='/img/portfolio/free_topoke_by_oliver_jiszda.png' title='image 7')
    img#image-8(src='/img/portfolio/free_topoke_by_oliver_jiszda.png' title='image 8')
    img#image-9(src='/img/portfolio/free_topoke_by_oliver_jiszda.png' title='image 9')

block scripts
  script(src='/js/main.js')
