doctype html
html
  head
    meta(charset="utf-8")

    title BitcoinersWithoutBorders
    link(rel="stylesheet" href="/css/main.css")

  body
    #wrapper
      #container
        header
          a#logo(href="/")
            img(alt="BitcoinersWithoutBorders" src="/img/bwb-logo.png" height="50" width="74")
          div#branding
            h1#title BitcoinersWithoutBorders
            
            block headerlink
              h2#tagline
                a(href="/") bwb.is

        block content
          div default content
