extends ../layout

block headerlink
  h2#tagline
    a(href="/on-a-mission") bwb.is/on-a-mission

block content
  img#keep-calm(title="keep calm and bitcoin on" alt="keep calm and bitcoin on" src="/img/keep-calm-bitcoin-on.png")
