extends ../layout

block headerlink
	h2#tagline
		a(href="/having-fun") bwb.is/having-fun

block content
	div#mission
		h2 Mission
		div.clear-both
			p
				| Are you dreaming of a better day? Live it.
				| We are not idealists, we are makers manifesting ideals.
				| Help us make things. Happen.

			p.
				We want to see widespread acceptance and use of a global
				transaction currency that levels the playing field,
				and reflects the society we live in TODAY,
				rather than hold on to centuries old paradigms
				about what a currency is or can be.

			p
				| We want to take the pseudonymous, decentralized, private, and encrypted
				| power of crypto currency off of the internet,
				| and put it into people's hands,
				| so they can use it to make small, daily transactions.
				| To buy bread, or a couple of beers for a friend.
				| Or the legendary pizza.

			p.added
				| We are committed to both 
				a(target="utopia" href="http://github.com/bitcoinerswithoutborders") open source and transparent code bases #{''}
				| for our products and services, as well as peer review and 
				a(target="utopia" href="https://metalab.at") community participation 

			p.added
				| We also think it is ok to make a profit providing services and products for crypto currencies.
				| We do not think that these two worlds - open source and profit making -
				| contradict each other,
				| as long as it is honest.
				| Bitcoin is not a Blood Diamond. Nor is it Gold, the product of oppression, slavery, thievery, or wars.

			p.added
				| Bitcoin is, as 
				a(target="utopia" href="https://twitter.com/leashless") Swami Havabanana 
				| says, 'the first karmically clean currency'.
