doctype html
html(lang='en' itemscope itemtype='http://schema.org/ProfilePage')
  head
    meta(charset='utf-8')
    block title
      title Jascha Ehrenreich - Magically Shifting Paradigms

    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.css')

    block meta
      meta(property='og:title' content='Jascha Ehrenreich: Programmer and Streetartist')
      meta(property='og:image' content='/img/jascha.ehrenreich.png')
      meta(name='description' property='og:description' content='Learn more about Jascha Ehrenreich, Programmer and Streetartist.')

  body
    block content
      div empty body content
