header.main
  img(itemprop='image' src='/img/jascha.ehrenreich.png' alt='Jascha Ehrenreich')
  h1(itemprop='name') Jascha Ehrenreich

  .jobTitle(itemprop='jobTitle') Webdeveloper and Streetartist

  .description(itemprop='description')
    p i juggle with code since ten,
    p with cones, balls and rings since twenty
    p and life juggles with me since around thirty years.
